//variables
$red-primary: #960505;
$bg-black: #000000;
$primary-font: Copperplate, Copperplate Gothic Light;

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Lilita+One&display=swap");

.navbar {
  background-color: $bg-black;
  font-family: $primary-font;
  position: sticky;
  top: 0;

  a {
    color: $white;

    &:hover {
      transform: scale(1.2);
      transition: color 0.3s ease;
    }

    &:hover,
    &:focus,
    &:active {
      color: $red-primary;
    }
  }
}

.navbar-toggler {
  border-color: white;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}
